.nav-side-bar{
    position: absolute;
    margin-top: 0;
    top: 0;
    left: 0;


    ul{
        padding: 0;
        
    }

    li{
        
        position: relative;
        display: block;
        width: 100%;
        display: flex;
        color: #fff;
        list-style: none;
        border-top-left-radius: 3rem;
        border-bottom-left-radius: 3rem;
        

        &:nth-child(1){
            pointer-events: none;
            font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            margin-bottom: 5rem;
            
            
            
            .icon{
                i{
                    font-size: 6rem;
                }
                
            }
            .title{
                font-size: 2.6rem;
                border-bottom: .1rem solid #fff;
                margin-left: .5rem;
            }
            
        }
        

        &:hover{
            background-color: #fff;
            color: #333333;
            cursor: pointer;
        }


        .icon{
            position: relative;
            display: block;
            min-width: 6rem;
            height: 6rem;
            line-height: 7rem;
            text-align: center;

            i{
                font-size: 3rem;
            }
        }

        .title{
            position: relative;
            display: none;
            padding: 0 1rem;
            font-size: 2rem;
            height: 6rem;
            line-height: 6rem;
            text-align: center;
            white-space: normal;
            
        } 
        
    }
}

.nav-big{
    transition: .3s ease all;
    width: 28rem;


    li{

        &:hover{
            box-shadow: .2rem .5rem .7rem .1rem #707070;
        }
        
        .title{
            
            display: block;
            
        }
    }
}

.nav-small{
    transition: .1s ease all;
    width: 6.5rem;

    &:hover{
        width: 28rem;
    }

    li{

        &:nth-child(1){
            width: 28rem;
            .title{
                display: block;
                color: #333333;
            }
            border-bottom: .1rem solid #71B100;
        }
        
        &:hover{
            border-top-right-radius: .5rem;
            border-bottom-right-radius: .5rem;
            box-shadow: .2rem .5rem .7rem .1rem #707070;
        }

        &:hover{
            .title{
                display: block;
            }       
        }
          
    }
}



